body {
  background-color: #252529;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
}
table {
  color: #FFFFFF;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}
#wrapper {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
}
th {
  background-color: #FACA04;
  color: #000000;
}
th, td {
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
}
.command, .name {
  border-bottom: 1px solid #FACA04;
}
.command {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  width: 250px;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  background-color: #393939;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #666;
  white-space: pre-wrap;
}
pre code {
  border: 0px hidden;
  padding: 0;
  background-color: inherit;
}
.command_image {
  margin-top: 1.4em;
}
.command_image img {
  max-width: 400px;
  border-radius: 3px;
}
.command_name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}
a:link, a:hover, a:visited {
  color: #FACA04;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.aliases {
  color: #888;
  font-weight: 0.8em;
}
.flags {
  color: #888;
  height: 1px
}
p {
  line-height: 1.5em;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.about {
  padding: 10px;
  border: 1px solid #666;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.about p {
  margin-top: 0px;
}
.about p:last-child {
  margin-bottom: 0px;
}
#table_of_contents {
  display: none;
  width: 400px;
  background: #252529;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #666;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 4px;
}
#table_of_contents a {
  display: block;
  line-height: 1.8em;
}
#search_box {
  -webkit-box-shadow: 0px 0px 5px 0px #000000; 
  box-shadow: 0px 0px 5px 0px #000000;
  position: fixed;
  padding: 10px;
  text-align: left;
  background-color: #FACA04;
  height: 22px;
  top: 0;
  width: 750px;
  color: #000000;
  font-weight: bold;
}
#search_text {
  width: 8%;
  float: left;
  line-height: 25px;
}
#search_box input {
  width: 90%;
  float: right;
}
h1 {
  margin-top: 0px;
}
.discord_replace {
  color: #849CFF;
}
a.discord_replace:link, a.discord_replace:hover, a.discord_replace:visited {
  color: #849CFF;
  text-decoration: underline;
}
.anchor {
  position: relative;
  top: -50px;
}
#loading {
  background-color: #FACA04;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}
.image-lightbox {
  cursor: pointer;
}
input, textarea {
  width: 100%;
  display: block;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
}
.discord-embed {
  padding: 1rem;
  font-size: 14px;
  display: grid;
  grid-gap: 1rem;
  max-width: 516px;
  border-radius: 1rem;
  background-color: #2B2D31;
  border-left: 4px;
  overflow: hidden;
  position: relative;
}
.discord-embed::before {
  display: block;
  content: '';
  height: 100%;
  width: 4px;
  background-color: #F2CB45;
  position: absolute;
}

@media screen and (min-width: 800px) {
  .editor-wrapper {
    box-sizing: border-box;
    max-width: 100% !important;
    padding-inline: 2rem;
    display: grid;
    grid-template-areas:
      "header embed " 
      "editor embed"
      "editor json";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
#header {
  grid-area: header
}
#editor {
  grid-area: editor;
}
#embed {
  grid-area: embed;
}
#json {
  grid-area: json;
}
.page-edit {
  background-color: black;
}